### Dataframe manipulation: Indexing, selecting, assigning

Data from kaggle: https://www.kaggle.com/datasets/uom190346a/disease-symptoms-and-patient-profile-dataset

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/nathanewer/nwe/cheat/pandas/Disease_symptom_and_patient_profile_dataset.csv')

In [4]:
df

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
...,...,...,...,...,...,...,...,...,...,...
344,Stroke,Yes,No,Yes,No,80,Female,High,High,Positive
345,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
346,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
347,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive
348,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive

In [ ]:
df2 = pd.DataFrame({"AAA": [4, 5, 6, 7], 
                    "BBB": [10, 20, 30, 40], 
                    "CCC": [100, 50, -30, -50]})

In [ ]:
df2

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

#### Indexing:

Can access as though object or dictionary:

In [18]:
df2.AAA

0    10
1    20
2    30
3    40
Name: AAA, dtype: int64

In [20]:
df2['AAA']

0    10
1    20
2    30
3    40
Name: AAA, dtype: int64

2nd method is better as can be used to access df columns with spaces in the name:

In [22]:
df['Blood Pressure'][:5]

0       Low
1    Normal
2    Normal
3    Normal
4    Normal
Name: Blood Pressure, dtype: object

In [24]:
#!!!!
df.blood pressure[:5]

SyntaxError: invalid syntax (1589331632.py, line 1)

Swapping columns:

In [17]:
df2[['AAA', 'BBB']] = df2[['BBB', 'AAA']]
df2

   AAA  BBB  CCC
0   10    4  100
1   20    5   50
2   30    6  -30
3   40    7  -50

##### Index based selection:

##### Label based selection:

In [27]:
df.loc[(df.Cough == 'Yes') & (df.Age >= 20)]

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
6,Influenza,Yes,Yes,Yes,Yes,25,Female,Normal,Normal,Positive
...,...,...,...,...,...,...,...,...,...,...
334,Prostate Cancer,Yes,Yes,No,No,70,Male,High,Normal,Negative
335,Schizophrenia,No,Yes,Yes,No,70,Male,Normal,Normal,Negative
338,Stroke,No,Yes,No,No,70,Male,Normal,High,Positive
339,Stroke,No,Yes,No,No,70,Male,Normal,High,Positive
341,Tonsillitis,Yes,Yes,Yes,No,70,Female,High,High,Positive

In [31]:
df[(df['Cough'] == 'Yes') & (df['Age'] >= 20)]

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
6,Influenza,Yes,Yes,Yes,Yes,25,Female,Normal,Normal,Positive
...,...,...,...,...,...,...,...,...,...,...
334,Prostate Cancer,Yes,Yes,No,No,70,Male,High,Normal,Negative
335,Schizophrenia,No,Yes,Yes,No,70,Male,Normal,Normal,Negative
338,Stroke,No,Yes,No,No,70,Male,Normal,High,Positive
339,Stroke,No,Yes,No,No,70,Male,Normal,High,Positive
341,Tonsillitis,Yes,Yes,Yes,No,70,Female,High,High,Positive

In [14]:
df2.loc[(df2["BBB"] < 25) & (df2["CCC"] >= -40), "AAA"]

0    4
1    5
Name: AAA, dtype: int64

In [15]:
df2[(df2["BBB"] < 25) & (df2["CCC"] >= -40)]

   AAA  BBB  CCC
0    4   10  100
1    5   20   50